fastapi==0.110.*
uvicorn==0.27.*
pydantic==2.6.*
python-dotenv==1.0.*
httpx==0.25.2
python-multipart==0.0.6
aiofiles==23.2.1
anyio==3.7.1
h11==0.14.0
idna==3.6
sniffio==1.3.0
starlette==0.36.3
typing_extensions==4.9.0
openai==1.11.*
langchain
langchain-community
PyPDF2
pinecone-client
langchain-text-splitters
